{% extends '::layout.html.twig' %}
{% set subtitle = 'Nouvel utilisateur' %}


{% block head %}
{{parent()}}
<a href="{{path('lc_utilisateur_new')}}" class="btn">Ajouter liste d'utilisateur</a>
{% endblock %}

{% block content %}
	{% form_theme form 'LogiCorpoBundle:Default:form.html.twig' %}
	{{ form_errors(form) }}
	{{ form(form, { 'attr': {'class': 'form'} }) }}
{% endblock %}
