$gris:#595959;
$rouge:#bf3737;
$bleu:#4183D7;
$vert:#27ae60;
$orange:#e67e22;

$anim-duration:.3s;

$header-height:190px;
$left-size:335px;

@import "base";

@import "layout";

/* Modules */
@import "boutons";
@import "moreinfos";
@import "table";
@import "form";
@import "state";
@import "card";
@import "commande";
@import "service";
@import "list";

@import "responsive";