{% extends '::layout.html.twig' %}
{% set subtitle = 'Effectuer un service' %}
{% block head %}
{{parent()}}
<a href="{{path('lc_service_new_now')}}" class="btn">Lancer un service</a>
{% endblock %}
{% block content %}

	{% if services is empty %}
	<h2 class="content-title">Aucun service programmé ajourd'hui</h2>
	{% elseif services | length == 1 %}
	<h2 class="content-title">Prochain service programmé</h2>
	{% else %}
	<h2 class="content-title">Prochains services programmés</h2>
	{% endif %}
	{% for service in services %}
		<p>Service de {{service.debut | date('H\\hi')}} : <a href="{{path('lc_service_do', {'id': service.id})}}" class="btn">Effectuer le service</a></p>
	{% endfor %}
{% endblock %}
