{% extends '::layoutLogin.html.twig' %}

{% block form %}
    <form class="form" action="{{ path('login_check') }}" method="post">

      <h1>Connexion</h1>
      <label class="form-input">
        <p>Login</p>
        <input autofocus type="text" name="_username" value="{{ last_username }}" >
      </label>
      <label class="form-input">
        <p>Mot de passe</p>
        <input type="password" name="_password">
      </label>
      <input class="form-input" type="submit" value="Se connecter">


    </form>
{% endblock %}